<h3>page editor</h3>
<form name="page_editor" action="{{@action}}" method="POST">
    <fieldset>
        <legend>editor</legend>
        <label for="name">name</label>
        <F3:check if="{{@edit}}==1">
            <F3:true>
                <span id="name">{{@POST.name}}</span>
            </F3:true>
            <F3:false>
                <input id="name" name="name" type="text" value="{{@POST.name}}" required/>
            </F3:false>
        </F3:check>
        <label for="title">titel</label>
        <input id="title" name="title" type="text" value="{{@POST.title}}" required/>
        <label for="content">content</label>
        <textarea id="content" name="content" required>{{@POST.content}}</textarea>
        <input type="submit" value="speichern"/>
    </fieldset>
</form>
