<h3>navigation admin list</h3>
<section>
    <ul class="admin-ul">
        <repeat group="{{@list}}" key="{{ @key }}" value="{{ @nav }}" counter="{{ @counter }}">
            <li class="admin-li">
                <div class="admin-list">
                    <span><strong>name:</strong></span><span>{{@nav.name}}</span>
                    <span><strong>sort:</strong></span><span>{{@nav.sort}}</span>
                    <nav>
                        <a href="{{@BASE}}/admin/navigation/edit/{{@nav.name}}">edit</a>
                        <a href="{{@BASE}}/admin/navigation/delete/{{@nav.name}}">delete</a>
                    </nav>
                </div>
            </li>
        </repeat>
    </ul>
</section>
<section>
    <a href="{{@BASE}}/admin/navigation/add">add</a>
</section>