<label for="text">text</label>
<input id="text" name="text" type="text" value="{{@POST.text}}"/>
<label for="section">section</label>
<input id="section" name="section" type="text" value="{{@POST.section}}"/>
<label for="controller">controller</label>
<input id="controller" name="controller" type="text" value="{{@POST.controller}}"/>
<label for="action">action</label>
<input id="action" name="action" type="text" value="{{@POST.action}}"/>
<label for="target">target</label>
<input id="target" name="target" type="text" value="{{@POST.target}}"/>
<label for="sort">sort</label>
<input id="sort" name="sort" type="text" value="{{@POST.sort}}"/>
