<h2>{{@controller}} list</h2>
<section>
    <repeat group="{{@list}}" key="{{ @key }}" value="{{ @obj}}" counter="{{ @counter }}">
        <div class="admin-list">
            <span><strong>name:</strong></span><span>{{@obj.name}}</span>
            <ul class="admin-ul">
                <F3:include href="admin_{{ @controller }}_list.html"/>
        </div>
    </repeat>
</section>
<F3:check if="{{@add==1}}">
    <section>
        <a class="admin-button" href="{{@BASE}}/admin/{{@controller}}/add">add</a>
    </section>
</F3:check>
