<div class="clear"></div>
<div class="left">
    <label for="text">text</label>
    <input id="text" name="text" type="text" value="{{@POST.text}}"/>
</div>
<div class="left">
    <label for="section">section</label>
    <input id="section" name="section" type="text" value="{{@POST.section}}"/>
</div>
<div class="left">
    <label for="app">app</label>
    <input id="app" name="app" type="text" value="{{@POST.app}}"/>
</div>
<div class="left">
    <label for="action">action</label>
    <input id="action" name="action" type="text" value="{{@POST.action}}"/>
</div>
<div class="left">
    <label for="target">target</label>
    <input id="target" name="target" type="text" value="{{@POST.target}}"/>
</div>
<div class="left">
    <label for="sort">sort</label>
    <input id="sort" name="sort" type="text" value="{{@POST.sort}}"/>
</div>
<div class="clear"></div>