<h2>
    login
</h2>

<F3:check if="{{ @message }}">
    <p><span class="fail">{{ @message }}</span></p>
</F3:check>
<form name="login" method="POST" action="{{@BASE}}/main/user/login">
    <fieldset class="login">
        <legend>login</legend>
        <label for="name">name</label>
        <input type="text" name="name" id="name" value="{{@POST.name}}"/>
        <label for="pw">pw</label>
        <input type="password" name="pw" id="pw"/>
        <input type="submit" value="login"/>
    </fieldset>
</form>
